@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

html {
    font-size: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {}

.paymodal {
    margin-bottom: 2rem;
}

.li-st {
    list-style: disc;
}

.navbar,
.navbar-brand {
    font-size: 1.6rem;
}

.content {
    position: relative;
    margin-top: 5rem;
}

.content-tit {
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.content-sub {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.trip-detail,
.info-detail,
.fare-detail,
.agree-detail-right {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.trip-css {
    margin-bottom: 1rem;
}

.agree-detail-left {
    font-size: 1.4rem;

}

table {
    width: 100%;
    /* border-top: 1px solid #444444; */
}

.info-thead {
    border-bottom: 1px solid #444444;
}

.btn {
    font-size: 1.6rem;
    margin: 10px;
}