@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

html {
    font-size: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {}

.navbar,
.navbar-brand {
    font-size: 1.6rem;
}

.content {
    position: relative;
    margin-top: 5rem;
}

.content-tit {
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.content-sub{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.seat-select-tit,.seat-select-originating, .seat-select-return, .form-check-input {
    text-align: center;
    font-size: 1.6rem;
}


.btn {
    font-size: 1.6rem;
    margin: 0 1rem;
    margin-top: 3rem;
}

.form-check {
    margin-bottom: 1rem;
    padding-left: 2.2em;
}

.form-check-input {
    background-color: #8bb2a1;
    border-color: #198754;
}

.disabled {
    background-color: #adb5bd;
}